@model Tax_Reminder.Models.TaxInformationModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TaxInformationModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CvcSecurityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CvcSecurityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAgree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAgree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
